@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  scroll-behavior: smooth;
}

.bg-lego-yellow {
  background-color: #f6ec35;
}
.bg-lego-red {
  background-color: #d11013;
}
.bg-lego-blue {
  background-color: #0067A0;
}
.bg-lego-green {
  background-color: #1E601E;
}

.text-lego-yellow {
  color: #f6ec35;
}
.text-lego-red {
  color: #d11013;
}
.text-lego-blue {
  color: #0067A0;
}